spice_models/**/*.net
spice_models/**/*.log
spice_models/**/*.raw

**/*-backups/

*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_sch_old
*.kicad_prl
*.sch-bak
*~*
_autosave-*
[#]auto_saved_files[#]
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
.idea/
kicad_netlist_reader.py
kicad_utils.py
__pycache__/
*.gbr
*.gbrjob
*.drl
venv/
*.xls
*.xlsx
*.xml

jlcpcb/
!jlcpcb/project.db
